<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <section class="wrapper">
      <h1>Robot Directory</h1>
    <section class="robots">
      {{#users}}
      <div class="robot_container">
        <a href="/{{username}}"><img class="picture" src={{avatar}} alt="{{id}}-1"=></a>
        <h2>{{name}}</h2>
        <h3 {{red}}>{{job}}</h3>
      </div>
      {{/users}}

    </section>
    </section>
  </body>
</html>
